form {
    width: 500px;
    margin: 0 auto;
    text-align: left;
}

input,
textarea,
select {
    display: block;
    margin-top: 10px;
}

.melecura {
    color: rgb(255, 247, 254);
    background-color: rgb(130, 91, 238);
    text-align: center;
    border: 3px solid rgb(214, 187, 187);
}

h2 {
    font-size: 18px;
}