@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.container {
    width: 500px;
    margin: 0 auto;
    text-align: left;
}

input,
textarea,
select {
    display: block;
    margin-top: 10px;
    border-radius: 4px;
}

.title {
    color: rgb(255, 255, 255);
    background-color: rgb(23, 170, 84);
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-size: 18px;
}